 /*================== common css start ======================*/
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
 * {
     margin: 0;
     padding: 0;
     outline: 0;
 }
 
 a,
 a:hover {
     text-decoration: none;
 }
 
 ul,
 ol {
     list-style: none;
 }
 
 body {
     position: relative;
     font-weight: 300;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 a,
 form,
 input,
 label,
 nav,
 nav-brand {
     margin: 0;
     padding: 0;
     font-family: 'Leckerli One', cursive;
     font-family: 'Roboto', sans-serif;
 }
 
 .h1 {
     font-size: 40px;
     font-weight: 700;
     font-family: 'Leckerli One', cursive;
 }
 
 .h2 {
     font-size: 25px;
     color: #ffffff;
     font-family: 'Leckerli One', cursive;
 }
 
 h3 {
    font-weight: 500;
    font-size: 18px;
    color: #FF0000;
 }
 
 h4 {
     color: #FF0000;
     font-size: 16px;
     font-weight: 500;
 }
 
 h5 {
     color: #FF0000;
     font-size: 15px;
     font-weight: 400;
 }
 
 .p {
     color: #ffffff;
     font-size: 20px;
     padding-bottom: 30px;
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
 }
 
 .a {
     font-size: 15px;
     font-weight: 400;
     color: #262228!;
     text-transform: uppercase;
 }
 
 .custom_common_button {
     background: #FF0000;
     color: #fff;
     padding: 6px 45px;
     border: none;
     text-transform: uppercase;
 }
 
 textarea:hover,
 input:hover,
 textarea:active,
 input:active,
 textarea:focus,
 input:focus,
 button:focus,
 button:active,
 button:hover,
 label:focus,
 .btn:active,
 .btn.active {
     outline: 0px !important;
     -webkit-appearance: none;
     box-shadow: none !important;
 }
 /*================== common css end ======================*/
 
 header {
     color: #F8EFEF;
     background-color: #3A3A3A;
 }
 
 hr {
     color: #707070;
 }
 
 .navbar-brand {
     color: white;
 }
 
 .custom_nav_ul {
     /* justify-content: right; */
 }
 
 .navbar-ul {
     /* float: right; */
 }
 
 .custom_ul,
 li {
     padding: 0 10px;
 }
 
 .nav-link {
     color: white;
 }
 
 .nav-link:hover {
     color: white;
     background: #FF0000;
     border-radius: 8px;
     padding: 5px;
     /* transition: all; */
     transition: ease 0.6s;
 }
 /* Header bottom Part start  */
 
 .header-bottom {
     display: flex;
     justify-content: space-between;
     padding: 20px 0;
 }
 
 .custom_dropdown {
     /* padding: 0px; */
     width: 200px;
     box-shadow: none;
 }
 
 .custom_dropdown_btn {
     display: flex;
     justify-content: space-between;
     background-color: #FF0000;
     border: 1px solid #FF0000;
     box-shadow: none;
 }
 
 .btn-check:focus+.btn-secondary,
 .btn-secondary:focus {
     color: #fff;
     background-color: #FF0000;
     border-color: none;
     box-shadow: none;
 }
 
 .custom_dropdown_btn:hover {
     border: 1px solid #FF0000;
     background-color: #FF0000;
     box-shadow: none;
 }
 
 .search-item {
     /* height: 50px; */
 }
 
 .search_input {
     border: none;
     border-bottom-right-radius: 0px;
     border-top-right-radius: 0px;
     /* width: 500px; */
 }
 
 .search_btn {
     color: white;
     background-color: #FF0000;
     border-bottom-left-radius: 0px;
     border-top-left-radius: 0px;
 }
 .navbar-brand img{
    width: 200px;
 }
 .cart-wishlist li {
     margin-left: ;
 }
 /* Header bottom Part end  */
 /* Body  */
 /* Main Slider start */
 
 .custom_slider_ad {
     margin-top: 20px;
 }
 
 .custom_left_right_ad {
     /* background-color: #FF0000; */
 }
 
 .left_right_ad {
     /* object-fit: fill; */
     max-width: 100%;
     max-height: 100%;
 }
 .add_right img {
    width: 100%;
    height: 384px !important;
}

.add_middle img {
        width: 100%;
        min-height: 192px;
    }
.salesbanner{
    margin-top: 10px;
}
.Sales_add .slider_img {
        display: flex;
        border-radius: 10x;
    }

.p_content, .product_img {
        background-color: #707070;
        width: 200px;
        height: 115px;
        padding: 10px;
        border-radius: 10px;
    }
.product_img {
    z-index: 250;
    margin-right: -8px;
}
.p_content{
    background-color:#FF0000;
    border-bottom-left-radius:0px;
    border-top-left-radius: 0px;
    z-index: 200;
    text-align: center;
    color:#F8EFEF
}
.Sales_add .slider_img img {
        width: 70px;
    }
.add-sec img {
        width: 100%;
        padding: 20px 0px;
    }
.adbolok{
    margin-top: 10px;
}

 /* Main Slider end */
 /* ================= add sales banner start================== */
 .addmain{
     width: 100%;
 }
 .banner img{
     width: 100%;
 }
  /* ================= addsels banner end ================== */
 /*================ best_selling start  =====================*/
 .best_selling{
     background-color: #262228;
     padding: 50px 0px;
     border-radius: 20px;
 }
 .best_selling .slider_item {
     position: relative;
     width: 180px;
     height: 180px;
     border-radius: 10px;
     margin-bottom: 20px;
     border-radius: 5px;
     transition: 1s;
 }
.best_selling .slider_item .slider_img {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 180px;
    transform: translate(-50%, -50%);
    background: rgb(58 50 50 / 41%);
    border-radius: 5px;
    transition: 1s;
}
.best_selling .slider_item:hover .slider_img {
    display: block;
    transition: 1s;


}
 
 .best_selling .slider_item img {
     height: 180px;
     border-radius: 5px;
 }
 
 .best_selling .slider_item ul {}
 
 .best_selling .slider_item ul li {}
 
 .best_selling .slider_item ul li a {}
 
 
 .best_selling .owl-nav .owl-prev {
    position: absolute;
    top: -7%;
    right: 60px;
    width: 20px;
    border-radius: 5px;
    height: 20px;
    background: #FF0000 !important;
    color: #fff !important;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 12px !important;
}

.best_selling .owl-nav .owl-next {
    position: absolute;
    top: -7%;
    right: 30px;
    width: 20px;
    border-radius: 5px;
    height: 20px;
    background: #FF0000 !important;
    color: #fff !important;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 12px !important;
    outline: none;
}
 
 .best_selling .slider_item h4 {
     padding-top: 5px;
 }
 
 .best_selling .slider_item h5 {
     padding: 5px 0px;
 }
 
 .best_selling .slider_item ul {
     padding: 0px;
 }
 
 .best_selling .slider_item ul li {
     display: inline-block;
     padding: 0px;
 }
 
 .best_selling .slider_item ul li a {
     display: block;
     background: #FF0000;

     width: 30px;
     height: 30px;
     color: #fff;
     border-radius: 5px;
 }
 
 .best_selling .slider_item ul li a i {
     font-size: 5px !important;
     line-height: 20px;
     font-weight: 300;
 }
 .best_selling .slider_item h4{
        color: #ffffff !important;
        font-size: 16px;
        font-weight: 500;
        margin-top: 25%;
 }
 .best_selling .slider_item h5{

    color: #ffffff !important;}
 /*================ best_selling start  =====================*/
 /*================ add_banner start  =====================*/
 
 .add_banner {
     padding: 50px 0px;
 }
 
 .add_banner .add_left img {
     width: 90%;
     border-radius: 18px;
 }
 /*================= add_banner end  ====================*/
 /*=============== popular_slider start  ================*/
 
 .popular_slider {}
 
 .popular_slider a .slider_item {
     width: 185px;
     height: 150px;
     border-radius: 10px;
     background: #e7e7e7;
     position: relative;
 }
 
 .popular_slider a .slider_item .slider_img {
     position: absolute;
     top: 50%;
     left: 60%;
     transform: translate(-50%, -50%);
     display: block;
     width: 110px;
 }
 
 .popular_slider a .slider_item .slider_img img {
     width: 70px;
 }
 
 .popular_slider a .slider_item .slider_img p {
     color: #262228 !important;
 }
 
 .popular_slider .owl-nav .owl-prev {
     position: absolute;
     top: -20%;
     right: 60px;
     width: 20px;
     border-radius: 5px;
     height: 20px;
     background: #FF0000 !important;
     color: #fff !important;
     -webkit-transform: translateY(-50%);
     transform: translateY(-50%);
     font-size: 12px !important;
 }
 
 .popular_slider .owl-nav .owl-next {
     position: absolute;
     top: -20%;
     right: 30px;
     width: 20px;
     border-radius: 5px;
     height: 20px;
     background: #FF0000 !important;
     color: #fff !important;
     -webkit-transform: translateY(-50%);
     transform: translateY(-50%);
     font-size: 12px !important;
     outline: none;
 }
 /*================ popular_slider end  =================*/
 /*=============== trending_slider start  ================*/
 
 .trending_slider {
     padding: 30px 0px;
     position: relative;
 }
 
 .trending_slider_add {
     padding: 0 !important;
 }
 
 .trending_slider .slider_item {
     width: 185px;
     margin: 0px 10px;
 }
 
 .trending_slider .slider_item img {
     width: 100%;
     height: 250px;
     border-radius: 5px;
 }
 
 .trending_slider .slider_item h4 {
     padding-top: 5px;
     text-transform: uppercase;
 }
 
 .trending_slider .slider_item h5 {
     padding: 10px 0px;
 }
 
 .trending_slider .slider_item ul {
     padding: 0px;
 }
 
 .trending_slider .slider_item ul li {
     display: inline-block;
     padding: 0px;
 }
 
 .trending_slider .slider_item ul li a {
     display: block;
     background: #FF0000;
     padding: 5px;
     width: 30px;
     height: 30px;
     color: #fff;
     border-radius: 5px;
 }
 
 .trending_slider .slider_item ul li a i {
     font-size: 12px;
 }
 
 .trending_slider .owl-nav .owl-prev {
     position: absolute;
     top: -10%;
     right: 60px;
     width: 20px;
     border-radius: 5px;
     height: 20px;
     background: #FF0000 !important;
     color: #fff !important;
     -webkit-transform: translateY(-50%);
     transform: translateY(-50%);
     font-size: 12px !important;
 }
 
 .trending_slider .owl-nav .owl-next {
     position: absolute;
     top: -10%;
     right: 30px;
     width: 20px;
     border-radius: 5px;
     height: 20px;
     background: #FF0000 !important;
     color: #fff !important;
     -webkit-transform: translateY(-50%);
     transform: translateY(-50%);
     font-size: 12px !important;
     outline: none;
 }
 /*=============== trending_slider end  ==================*/
 /*=============== newsletter_part start  ================*/
 
 .newsletter_part {
     background: #e3e1e1c1;
     padding: 50px 0px;
 }
 
 .btn_csutom {
     background: #FF0000;
     color: #fff;
 }
 
 .btn_csutom:hover {
     color: #fff;
 }
 /*=============== newsletter_part end  ==================*/
 /*=============== footer_part start  ================*/
 
 .footer_part {
     background-color: #3A3A3A;
     padding: 50px 0px;
 }
 
 .footer_part .footer_logo {}
 
 .footer_part .footer_logo img {}
 
 .footer_content {
     padding-top: 20px;
 }
 
 .footer_content h3 {}
 
 .footer_content p {
     color: #fff;
     padding-right: 90px;
     font-size: 13px;
 }
 
 .footer_part ul {}
 
 .footer_part ul li {
     padding-top: 5px;
 }
 
 .footer_part ul li a {
     color: #fff;
     font-size: 13px;
 }
 
 .footer_left {}
 
 .footer_left ul {}
 
 .footer_left li span {
     background: #FF0000;
     padding: 10px;
     border-radius: 5px;
     width: 20px;
     margin-right: 10px;
 }
 
    .footer_left li {
        color: #fff;
        padding-top: 20px !important;
        margin-bottom: 5px;
        font-size: 13px;
    }
 .footer_left li span {}
 /*=============== footer_part end  ==================*/